name: Discord Shots Counter CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: alpin-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '22.x'
    - name: Run Yarn 
      run: yarn
    - name: Run tests
      run: yarn test